<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
  </configSections>

  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <alias alias="singleton" type="Microsoft.Practices.Unity.ContainerControlledLifetimeManager, Microsoft.Practices.Unity"/>
    <alias alias="IAttackStrategy" type="UWar.IAttackStrategy, UWar"/>
    <alias alias="SwordAttakStrategy" type="UWar.SwordAttakStrategy, UWar"/>
    <alias alias="BowAttakStrategy" type="UWar.BowAttakStrategy, UWar"/>
    <alias alias="IUnit" type="UWar.IUnit, UWar"/>
    <alias alias="Unit" type="UWar.Unit, UWar"/>


    <containers>
      <container>
        <register type="IAttackStrategy" name="SwordAttakStrategy" mapTo="SwordAttakStrategy">
          <lifetime type="singleton"/>
        </register>

        <register type="IAttackStrategy" name="BowAttakStrategy" mapTo="BowAttakStrategy">
          <lifetime type="singleton"/>
        </register>

        <register type="IUnit" name="FirstUnit" mapTo="Unit">
          <lifetime type="singleton"/>
          <property name="AttacStrategy" dependencyName="SwordAttakStrategy"></property>
        </register>
        
      </container>
    </containers>
  </unity>
</configuration>